.column-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.column-item-left {
    display: flex;
    gap: 30px;
}

.column-item-left input {
    width: 90px;
}

.column-item-actions {
    display: flex;
    align-items: center;
}
