.column-detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#fafafa;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
}

.column-detail-preset-container {
    display: flex;
    gap: 5px;
}

.column-detail-preset-name {
    display: flex;
    border-radius: 5px;
    background-color: lightblue;
}

.column-detail-preset-title {
    color: blue;
}

.column-detail-preset-description {

}

.column-detail-button-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

.column-detail-button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.column-detail-option-container {
    display: flex;
    align-items: center;;
}

.column-detail-option-container select {
    flex: 1;
    width: 100%;
}

.column-detail-option-container input {
    flex: 1;
    width: 100%;
}

.column-detail-comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-bottom: 5px;
}

.column-detail-comment textarea {
    width: 98%;
    height: 50px;
}
