.import-dialog-content h3 {
    color: #333;
    font-size: 15px;
    font-weight: 500;
} 

.nexa-database-row-mapping-info {
    display: flex;
    flex-direction: column;
    background-color: #f0f7ff;
    border-radius: 5px;
    border-left: 4px solid #0066ff;
    padding: 5px 5px;
    color: black;
    gap: 5px;
    margin-bottom: 10px;
}

.nexa-database-row-mapping-upload {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
}

.nexa-database-row-mapping-upload-set {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nexa-database-row-mapping-upload button {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: #0066ff;
    cursor: pointer;
}

.nexa-datbase-row-column-mapping {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
}

.nexa-database-row-mapping-grid-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.nexa-database-row-mapping-grid-container-header {
    display: flex;
    width: 100%;
    min-height: 30px;
    align-items: center;
    background-color: whitesmoke;
    padding: 5px;
    border-bottom: 1px solid #999;
    font-weight: 600;
    color: #999;
    font-size: 11px;
}

.nexa-database-row-mapping-grid-container-header div {
    flex: 1;
}

.nexa-database-row-mapping-grid-content {
    max-height: 260px;
    overflow-y: auto;
    border: 1px solid #e5e5e5;
}

.mapping-info {
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: whitesmoke;
    height: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nexa-database-row-mapping-import-mode-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
}

.nexa-database-row-mapping-import-mode-options strong {
    font-weight: 600px;
    color: black;
}

.nexa-database-row-mapping-radio-option input[type="radio"]:checked
  + .nexa-database-row-mapping-radio-option-content strong {
    color: #0066ff;
}

.nexa-database-row-mapping-radio-option {
    display: flex;
    align-items: center;
    padding: 16px;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    cursor: pointer;
    gap: 10px;
}

.nexa-database-row-mapping-radio-option:hover {
    border-color: #0066ff;
    background-color: #f0f7ff;
}

.nexa-database-row-mapping-radio-option-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}

.nexa-database-row-mapping-import-info {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border-left: 3px solid #ffc107;
    background-color: #fff8e1;
    color: black;
    padding: 5px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}
