.nexa-database-header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    gap: 10px;
}

.nexa-database-header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nexa-database-header-left {
    display: flex;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: 600;
    gap: 10px;
}

.nexa-database-header-left input {
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: #0066ff;
}

.nexa-database-header-left input::placeholder {
    color: #666;
}

.nexa-database-header-left input:hover {
    background-color: #d0d0d0;
    border-bottom-color: #666;
}

.nexa-database-header-left input:focus {
    background-color: #f0f7ff;
    border-bottom-color: #0066ff;
    color: #0066ff;
}

.nexa-database-header-right {
    display: flex;
    gap: 10px;
}

.nexa-database-header-right button {
    border-radius: 5px;
    background-color: white;
    border: 1px solid #d0d0d0;
    padding: 8px 10px 8px 10px;
}

.nexa-database-header-right button:hover {
    filter: brightness(0.9);
}

.nexa-database-header-textarea {
    width: 100%;
}

.nexa-database-header-textarea textarea {
    width: 100%;
    height: 50px;
    padding: 5px;
    resize: vertical;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
}

.nexa-database-header-textarea textarea::placeholder {
    color: #d0d0d0;
}
