.nexa-database-tabbar {
    display: flex;
    border-bottom: 2px solid #e5e5e5;
    gap: 10px;
    padding-left: 10px;
}

.nexa-database-tabbar button {
    height: 50px;
    padding: 5px;
    color: #666;
    border: none;
    outline: none;
    border-bottom: 3px solid transparent;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
}

.nexa-database-tabbar button:hover {
    color: black
}

.nexa-database-tabbar button.active {
    border-bottom-color: #0066ff;
    color: #0066ff;
}
